<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secure ECU</title>
</head>
<body>
    <form id="uploadbanner" enctype="multipart/form-data" method="post" action="https://warm-tundra-12287.herokuapp.com/pushFirmware">
        <input id="fileupload" name="myfile" type="file" /> <br>
        <input type="submit" value="submit" id="submit" />
     </form>
</body>
</html>